body {
  line-height: 0.2;
  padding-bottom: 20px;
  background-color:#E1E8CA;
  padding: 30px;
  text-align: center;
}

.text1
{
  font-family: 'Lemon/Milk';  
  font-size : 2em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
.text2
{
  font-family: 'Lemon/Milk';  
  font-size : 3em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
.text3
{
  font-family: 'Lemon/Milk';  
  font-size : 2em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
.text4
{
  font-family: 'Lemon/Milk';  
  font-size : 2em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
.text5
{
  font-family: 'Lemon/Milk';  
  font-size : 2em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
.text6
{
  font-family: 'Lemon/Milk';  
  font-size : 2em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
.text7
{
  font-family: 'Lemon/Milk';  
  font-size : 2em;
  color : rgb(255, 255, 255);
  opacity : 1.0;
}
